<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>Upload1Servlet</servlet-name>
    <servlet-class>org.lxy.web.servlet.Upload1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Upload2Servlet</servlet-name>
    <servlet-class>org.lxy.web.servlet.Upload2Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Upload3Servlet</servlet-name>
    <servlet-class>org.lxy.web.servlet.Upload3Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Upload4Servlet</servlet-name>
    <servlet-class>org.lxy.web.servlet.Upload4Servlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>Upload1Servlet</servlet-name>
    <url-pattern>/upload1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload2Servlet</servlet-name>
    <url-pattern>/upload2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload3Servlet</servlet-name>
    <url-pattern>/upload3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload4Servlet</servlet-name>
    <url-pattern>/upload4</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
