#one{
	width:500px;
	height:500px;
	border-color: red;
	border-style: groove;
	border-size: 30px;
	/* margin: auto; */
	/* 定位
		绝对定位: 参照当前的窗口
		相对定位:
	 */
	 position: absolute;
	 left:300px;
	 top:300px;
}

#two{
	width:50px;
	height:50px;
	border-color: red;
	border-style: groove;
	position: relative;
	left:100px;
	top:200px;
}

body{
	border-style:groove;
	height:1000px;
}